@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap");
.container {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  .box {
    position: relative;
    margin-top: 50px;
    background-color: rgb(250, 177, 177);
    width: 350px;
    border-radius: 10px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .icon {
      display: flex;
      position: absolute;
      top: 10px;
      right: 15px;
      border-radius: 50px;
      background-color: aquamarine;
      font-size: 35px;
      color: yellow;
    }
    .iconLeft {
      right: unset;
      left: 15px;
    }
    .title {
      color: yellow;
      position: absolute;
      top: -20px;
      text-shadow: 1px 2px 3px #000;
    }
    .text {
      margin-top: 40px;
      text-align: center;
      color: rgb(0, 0, 0);
      font-family: "Josefin Sans", sans-serif;
      text-shadow: 0.2px 0.2px 1px rgb(0, 0, 0);
      width: 250px;
    }
    .buttons {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: aquamarine;
        box-shadow: 1px 1px 6px 1px rgb(245, 127, 127);
        padding: 5px 35px;
        margin: 0 20px;
        border-radius: 3px;
        color: rgb(255, 169, 9);
        text-shadow: 1px 2px 3px rgb(0, 0, 0);
        cursor: pointer;
        font-family: "Fira Sans", sans-serif;
        &:hover {
          background-color: rgb(255, 254, 196);
        }
      }
    }
  }
}
