.container {
  margin-right: 10px;
  .background {
    margin-top: 25px;
    background-color: rgb(43, 42, 42);
    width: 170px;
    height: 40px;
    border-radius: 0 0 5px 5px;
    .mainContent {
      padding: 0 0.5em;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .option {
        position: relative;
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          display: flex;
          align-items: center;
          flex-basis: 100%;
          font-size: 12px;
        }
        .number {
          font-size: 14px;
          position: absolute;
          right: 2px;
        }
      }
    }
  }
}
